table,thead,tr,th,td{
border:2px solid black!important
}
h1{
text-align:center;}
body{
background-image: url('../ref/images/Brightest-Nutrients.jpg');background-size: cover;background-repeat: no-repeat;background-attachment: fixed;

}

#content {
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
 background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

td{
	padding: 15px!important;
}