.a{
text-align:center;
}
body{
background-image: url('../ref/images/how-carbs-build-muscle-main.jpg');
background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
	}
#content {
	
	overflow: hidden;
 background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
	margin-top: 100px;
	margin-left: 160px;
	margin-right:100px;
	padding: 20px;
}1