body{
background-image: url('../ref/images/news.jpeg');
background-size: cover;background-repeat: no-repeat;background-attachment: fixed;

}
h1{
	text-align: center;
}
#content {
	
	overflow: hidden;
 background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);;
	margin-top: 100px;
	margin-left: 160px;
	margin-right:100px;
	padding: 20px;
}