h1{
	text-align: center;

}
body{
background-image: url('../ref/images/healthy-living-motivational-quotes-25-motivational-quotes-for-weight-loss-and-healthy-living.jpg');background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
	
}
img.a{
	:center;
height:100px;
width:350px;
    margin-left: auto;
    margin-right: auto; 
     display: block;
}
#content {
	
	overflow: hidden;
	margin-top: 100px;
 background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
	margin-left: 160px;
	margin-right:100px;
	padding: 20px;
}